<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue-2</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="show">You can see me. <span>Hello!</span></p>
      <p v-else>Now you can see me!</p>
      <p v-show="show">Do you also see me?</p>
      <template v-if="show">
        <h1>I'm a heading</h1>
        <p>I'm a paragraph</p>
      </template>
      <p>Can you see me?</p>
      <button @click="show = !show">Show/hide</button>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
